{% extends "_base.html" %}
{% block title %}Proofer{% endblock %}

{% block content_name %}
<b>Proofer</b>
{% endblock %}
{% block content %}
    {% for glyph_set, section in test_strings.items() %}
        <h3>Glyphset: {{ glyph_set }}</h3>
        {% for section_title, strings in section.items() %}
            <div class="box">
            <div class="box-title">{{ section_title }}</div>
            {% for string in strings %}
            {% for font_class in font_styles or font_styles_old or font_styles_new %}
                <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
                    {{ string }}<br>
                </span>
            {% endfor %}
            <br>
            {% endfor %}
        </div>
        {% endfor %}
    {% endfor %}
{% endblock %}
