{% extends "_base.html" %}
{% block title %}Glyphs{% endblock %}
{% block style %}
{{ super() }}
.cell{
  z-index: -100;
  float: left;
  display: block;
  text-align: center;
  padding: 5pt;
  margin: 5pt;
  width: 50pt;
  line-height: {{ pt_size | int * 1.5}}px;
}
.cell-word{
  z-index: -100;
  float: left;
  display: block;
  text-align: center;
  padding: 5pt;
  margin: 5pt;
  line-height: {{ pt_size | int * 1.5}}px;
}
.cat-strings .cell {
  clear: both;
  position: static;
  float: none;
  text-align: left;
}
.box-title {
  clear: both;
}
{% endblock %}
{% block content_name %}
<b>Diffenator</b>
{% endblock %}
{% block content %}
  {% for font_class in font_styles or font_styles_old or font_styles_new %}
    <div class="box">
    <div class="box-title">Tables</div>
     {{ diff.tables.render() }}
    </div>
    
    {% if diff.glyph_diff["glyphs"].new %}
      <div class="box">
        <div class="box-title">New encoded glyphs</div>
        <div class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].new %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
          </div>
      </div>
    {% endif %}
    
    
    {% if diff.glyph_diff["glyphs"].missing %}
      <div class="box">
        <div class="box-title">Missing encoded Glyphs</div>
        <div class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].missing %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
          </div>
      </div>
    {% endif %}
    
    {% if diff.glyph_diff["glyphs"].modified %}
      <div class="box">
        <div class="box-title">Modified encoded Glyphs</div>
        <div class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].modified %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
          </div>
      </div>
    {% endif %}

    {% for script in diff.glyph_diff["words"] %}
      <div class="box">
        <div class="box-title">Misshapen {{ script }} words</div>
        <div class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for word in diff.glyph_diff["words"][script] %}
              {{ word.render() }}
          {% endfor %}
        </div>
      </div>
    {% endfor %}
    
    <div class="box">
      <div class="box-title">Misshapen user strings</div>
      <div class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
        {% for word in diff.strings %}
            {{ word.render() }}
        {% endfor %}
      </div>
    </div>
    

    {% if diff.features %}
      <div class="box">
        <div class="box-title">Fea</div>
        {{ diff.features }}
      </div>
    {% endif %}

    </div>
  {% endfor %}
{% endblock %}
{% block js %}
	function render(node, toplevel) {
		var wrapper = $("<div> </div>");
		if (!node) { return wrapper }
		if (Array.isArray(node)) {
			var before = $("<span/>");
			before.addClass("attr-before");
			before.html(" " + node[0] + " ");
			var after = $("<span/>");
			after.addClass("attr-after");
			after.append(node[1]);
			wrapper.append(before);
			wrapper.append(after);
			return wrapper
		}
		for (const [key, value] of Object.entries(node)) {
			var display = $("<div/>");
			display.addClass("node")
			if (!toplevel && ! key.match(/^\d+$/)) {
				display.hide()
			}
			display.append(key);
			display.append(render(value, false).children());
			wrapper.append(display)
		}
		return wrapper

	}
	$(function() {
		$("#difftable").append(render(fontdiff, true).children())
		$(".node").on("click", function(event){ $(this).children().toggle(); event.stopPropagation() })
	});

function wordBreaks() {
  words = document.getElementsByClassName("cell-word")
  res = []
  prevTop = 0
  for (i=0; i<words.length; i++) {
      var word = words[i]
      currentTop = word.getBoundingClientRect().top
      if (currentTop > prevTop) {
          res.push(i)
      }
      prevTop = currentTop
  }
  return res
}

async function insertBreaks() {
  switchFonts()
  await sleep(1)
  breaksBefore = wordBreaks()
  switchFonts()
  await sleep(1)
  breaksAfter = wordBreaks()


  console.log(breaksBefore.length, breaksAfter.length)

  if (breaksBefore.length >= breaksAfter.length) {
    breaks = breaksBefore
  } else {
    breaks = breaksAfter
  }

  words = document.getElementsByClassName("cell-word")
  breaks.forEach(function(i) {
    if (i != 0) {
      i = i
    }
    word = words[i]
    spacer = document.createElement("div")
    spacer.className = "spacer"
    word.parentNode.insertBefore(spacer, word)
  })
}

function sleep(ms) {
  return new Promise(resolve => setTimeout(resolve, ms));
}
  
insertBreaks()
{% endblock %}