{% extends "_base.html" %}
{% block title %}Glyphs{% endblock %}
{% block style %}
{{ super() }}
.cell{
  z-index: -100;
  float: left;
  display: block;
  text-align: center;
  padding: 5pt;
  margin: 5pt;
  width: 50pt;
  line-height: {{ pt_size | int * 1.5}}px;
}
.cell-word{
  z-index: -100;
  float: left;
  display: block;
  text-align: center;
  padding: 5pt;
  margin: 5pt;
  line-height: {{ pt_size | int * 1.5}}px;
}
.cat-strings .cell {
  clear: both;
  position: static;
  float: none;
  text-align: left;
}
.box-title {
  clear: both;
}
{% endblock %}
{% block content_name %}
<b>Diffenator</b>
{% endblock %}
{% block content %}
  {% for font_class in font_styles or font_styles_old or font_styles_new %}
    <div class="box">
    <div class="box-title">Tables</div>
     {{ diff.tables.render() }}
    </div>
    
    {% if diff.glyph_diff["glyphs"].new %}
      <div class="box">
        <div class="box-title">New encoded glyphs</div>
        <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].new %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
        </span>
      </div>
    {% endif %}
    
    
    {% if diff.glyph_diff["glyphs"].missing %}
      <div class="box">
        <div class="box-title">Missing encoded Glyphs</div>
        <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].missing %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
        </span>
      </div>
    {% endif %}
    
    {% if diff.glyph_diff["glyphs"].modified %}
      <div class="box">
        <div class="box-title">Modified encoded Glyphs</div>
        <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for glyph in diff.glyph_diff["glyphs"].modified %}
            <div class="cell">
              {{ glyph.render() }}
            </div>
          {% endfor %}
        </span>
      </div>
    {% endif %}

    {% for script in diff.glyph_diff["words"] %}
      <div class="box">
        <div class="box-title">Misshapen {{ script }} words</div>
        <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
          {% for word in diff.glyph_diff["words"][script] %}
              {{ word.render() }}
          {% endfor %}
        </span>
      </div>
    {% endfor %}
    
    <div class="box">
      <div class="box-title">Misshapen user strings</div>
      <span class="{{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
        {% for word in diff.strings %}
            {{ word.render() }}
        {% endfor %}
      </span>
    </div>
    

    {% if diff.features %}
      <div class="box">
        <div class="box-title">Fea</div>
        {{ diff.features }}
      </div>
    {% endif %}

    </div>
  {% endfor %}
{% endblock %}
{% block js %}
function wordBreaks() {
  words = document.getElementsByClassName("cell-word")
  res = []
  prevLine = 0
  for (i=0; i<words.length; i++) {
      word = words[i]
      if (word.getBoundingClientRect().y != prevLine) {
          res.push(i)
          prevLine = word.getBoundingClientRect().y
      }
  }
  return res
}

function insertBreaks() {
  breaksBefore = wordBreaks()
  switchFonts()
  breaksAfter = wordBreaks()

  console.log(breaksBefore.length, breaksAfter.length)

  if (breaksBefore.length > breaksAfter.length) {
    breaks = beaksAfter
  } else {
    breaks = breaksBefore
  }

  words = document.getElementsByClassName("cell-word")
  breaks.forEach(function(i) {
    if (i != 0) {
      i = i
    }
    word = words[i]
    spacer = document.createElement("div")
    spacer.className = "spacer"
    word.parentNode.insertBefore(spacer, word)
    console.log("inserted")
  })
}
  
insertBreaks()
{% endblock %}