{% extends "_base.html" %}
{% block title %}Glyphs{% endblock %}
{% block style %}
{{ super() }}
.cell{
  position: relative;
  z-index: -1;
  float: left;
  background-color: #fcfcfc;
  display: block;
  text-align: center;
  padding: 5pt;
  margin: 5pt;
  width: {{ pt_size | int * 1.5 }}px;
  line-height: {{ pt_size | int * 1.5}}px;
}
{% endblock %}
{% block content_name %}
<b>Text</b>
{% endblock %}
{% block content %}
  {% for font_class in font_styles or font_styles_old or font_styles_new %}
      <div class="box">
	<div class="box-title">{{ font_class.class_name }} {{ pt_size }}pt</div>
	  <span class="box-text {{ font_class.class_name }}" style="font-size: {{ pt_size }}pt">
	    {% for character in characters %}
	      <div class="cell">{{ character }}</div>
	    {% endfor %}
          </span>
       </div>
    {% endfor %}
{% endblock %}
