<div class="cell-word" style="font-feature-settings: {% for f in ot_features %} '{{ f }}' 1 {% endfor %}" lang="{{ lang }}">
    <div class="tooltip">
        {{ string }}<br>
        <span class="tooltiptext">
        <div class="tooltipleft">
            Before:<br>
            {{ hb_a }}
            feats={{ ot_features }}
        </div>
        <div class="tooltipright">
            After:<br>
            {{ hb_b }}
            feats={{ ot_features }}
        </div>
        <div>
            changed pixels: {{ changed_pixels }}%
        </div>
        </span>
    </div>
</div>
